/******* LOGIN  ************/

* {
    margin: 0;      
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./img/milad-fakurian-seA-FPPXL-M-unsplash.jpg');
    background-size: cover;    
}

h4 {
    margin-bottom: 25px;
    font-size: 24px;    
    margin-bottom: 30px;    
}

#login {
    background-color: rgba(5, 53, 143, 0.418);
    width: 500px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 70px;      
    border-radius: 10px;
    text-align: center;  
        
}

textarea:focus, input:focus {
    outline: none;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;    
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8rem;
    color: white;
}

input {
    position: relative;
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

.link {
    text-decoration: none;
    font-size: .8rem;  
    color: rgb(255, 255, 255);      
}

.link:hover {
    color: #8e09db;
    
}

.fa-eye {
    
    color: rgba(5, 53, 143, 0.452);
    position: absolute;
    top: 40.9vh;
    right: 57.5vw;
    left: 57.5vw;
    cursor: pointer; 
}

.fa-eye:hover {
    color: rgb(5, 53, 143);
}

button {
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 60px;
    width: 100%;
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: black;
    background-color: white;
    cursor: pointer;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452) ;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.767);
    transition: .5s;
    color: white;
}

#inputs {
    text-align: right;
    display: block;
}

#inputs:hover, #cadastro:hover {
    color: #afafaf;
}

h4, p, #cadastro, #inputs {
    color: white;
}
